body {
    background-color: rgb(255, 252, 241);
    padding: 0 25%;
    color: #474747;

}

@media (max-width: 800px) {
    body {
        padding: 0 10%;
    }
}

body h1 {
    font-family: IBM Plex Mono, Roboto Mono;
    font-size: 45px;
    font-weight: bold;
    word-spacing: -10px;

}

body h2 {
    font-family: Roboto Mono;
    font-size: 30px;
    font-weight: light;
}

body p {
    margin: 0;
    font-family: Roboto Mono;
    font-size: 20px;
    line-height: 30px;
    word-spacing: -5px;
}

a {
    all: unset;
    color: rgb(109, 137, 212);
    text-decoration: underline; 
    text-decoration-thickness: 1px;
    cursor: pointer;
}

a:hover {
    text-decoration-thickness: 1.5px;
}

.word1 {
    color: #474747;
}

.word2 {
    color: #ec5422;
}

.japanese-text {
    font-family: DotGothic16;
    font-size: 18px;
}


.personal-link {
    color: #474747;
    font-size: 40px;
    transition: color 0.3s ease;
    margin-top: 20px;
    padding: 5px;
    display: inline-block;
}

.personal-link:hover {
    color: #ec5422;
}

.logo-links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
