:root {
    --orange: #ec5422;
    --blue: rgb(109, 137, 212);
  }

body {
    background-color: #fefffe;
    width: 50%;
    margin: 0 auto;
    color: #171a21;
    word-wrap: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -1px;
}

header h1 {
    font-family: IBM Plex Mono;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: -3px;
}

nav {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

.header-link {
    all: unset;
    color: #171a2190;
    margin-right: -5px;
}

.section-heading {
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
}
main {
    line-height: 30px;
    word-spacing: -5px;
    font-family: Roboto Mono;
    font-size: 25px;
}

a {
    all: unset;
    color: var(--blue);
    cursor: pointer;
}

a:hover {
    text-decoration: underline; 
    text-decoration-thickness: 1.5px;
}

.orange-slash {
    font-family: IBM Plex Mono;
    color: var(--orange);
}
.circle {
    font-family: DotGothic16;
    color: var(--orange);
    font-size: 30px;
}
.japanese-text {
    font-family: DotGothic16;
    font-size: 22px;
}

.paper-title {
    font-weight: 500;
}
.first-author-indicator {
    color: var(--orange);
    font-weight: 700;
}

footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.personal-link {
    color: #343434;
    font-size: 40px;
    transition: color 0.3s ease;
    padding: 5px;
    display: inline-block;
}

.line-separator {
    border: none;            
    border-top: 1px solid #e6e6e6;
}

.blog-entries {
    font-family: Roboto Mono;
}
.blog-entries li {
    list-style: square;
    margin-bottom: 20px;
}
.blog-entries a {
    all: unset;
    display:block
}
.blog-entries h3 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}
.blog-entries p {
    margin: 3px 0;
}
.blog-entries time {
    font-size: 14px;
    color: #171a2190;
}
.blog-link:hover {
    cursor: pointer;
}
.blog-link:hover h3 {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

@media (max-width: 800px) {
    body {
        width: 80%;
    }
    main {
        font-size: 20px;
    }
    .blog-entries h3 {
        font-size: 20px;
    }
    .japanese-text {
        font-size: 18px;
    }
}
