<header class="d-flex flex-column flex-md-row align-items-center pb-3 pb-md-3 mb-3 border-bottom">
  <div>
    <a href="{{ site.baseurl }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-3 fw-bold pt-1 pt-md-0">{{ site.title }}</span>
    </a>
    <a href="{{ site.baseurl }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex ms-md-auto align-items-center">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 pt-0 pb-0 text-decoration-none" href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
    <button class="theme-toggle me-3" id="theme-toggle" aria-label="Toggle theme">
      <i class="hn hn-brightness-high-solid" id="theme-toggle-light-icon"></i>
      <i class="hn hn-moon-solid" id="theme-toggle-dark-icon"></i>
    </button>
  </nav>
</header>
