---
layout: default
---

<div class="mb-3">
  <h4 class="fw-bold">about</h4>
  <div class="about-row">
    <div class="about about-text-column">
      {{ page.about_content | markdownify }}
    </div>
    <div class="image-container about-image-box">
      <img src="{{ '/assets/img/me.jpg' | relative_url }}" alt="Home" width="100%" class="home-image">
    </div>
  </div>
</div>

<div class="row g-5 mb-3">
  <div class="col-md-12">
    <h4 class="fw-bold">research</h4>
    <div class="research">
      {{ content }}
    </div>
  </div>
</div>

{% include publications.html %}
