---
layout: default
---
<!-- 
{%-include back_link.html-%} -->

<div class="row g-5 mb-0">
  <div class="col-md-12">
    <article>
        <!-- <p class="post-meta">
          <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
        </p> -->
        
        <div class="post-title-row mb-4">
          <h3 class="fw-bold mb-0">{{ page.title }}</h3>
          <p class="reading-mode-hint d-none d-md-block mb-0" data-reading-mode-ignore>press <kbd>r</kbd> for reader mode</p>
        </div>
        {{ content }}
      </article>
  </div>
</div>
